<a href="https://colab.research.google.com/github/JeromeMberia/IP_Week_3/blob/master/The_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the Libraries

In [444]:
import pandas as pd
import numpy as np

# Loading our Dataset

In [445]:
geo = None
tel_1 = None
tel_2 = None
tel_3 = None
geo = pd.read_csv('cells_geo.csv', delimiter=';')
tel_1 = pd.read_csv('Telcom_dataset1.csv')
tel_2 = pd.read_csv('Telcom_dataset2.csv')
tel_3 = pd.read_csv('Telcom_dataset3.csv')

In [446]:
geo.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [447]:
tel_1.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [448]:
tel_2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [449]:
tel_3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

# Data Understanding

In [450]:
tel_1.shape

(5001, 10)

In [451]:
tel_2.shape

(5001, 10)

In [452]:
tel_3.shape

(5001, 10)

In [453]:
geo.shape

(3974, 12)

In [454]:
tel_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUTC          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATETIME         5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELL_ID          5001 non-null   object
 9   SITE_ID          4285 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [455]:
tel_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCT       5001 non-null   object
 1   VALUE         5001 non-null   int64
 2   DATE_TIME     5001 non-null   object
 3   CELL_ON_SITE  5001 non-null   object
 4   DW_A_NUMBER   5001 non-null   object
 5   DW_B_NUMBER   5001 non-null   object
 6   COUNTRY_A     5001 non-null   object
 7   COUNTRY_B     5001 non-null   object
 8   CELL_ID       5001 non-null   object
 9   SITE_ID       4325 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [456]:
tel_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATE_TIME        5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELLID           5001 non-null   object
 9   SIET_ID          4396 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [457]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3974 non-null   int64
 1   VILLES        3974 non-null   object
 2   STATUS        3907 non-null   object
 3   LOCALISATION  3974 non-null   object
 4   DECOUPZONE    3974 non-null   object
 5   ZONENAME      3968 non-null   object
 6   LONGITUDE     3974 non-null   float64
 7   LATITUDE      3974 non-null   float64
 8   REGION        3974 non-null   object
 9   AREA          3951 non-null   object
 10  CELL_ID       3974 non-null   object
 11  SITE_CODE     3974 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [458]:
tel_1.isnull().sum()

PRODUTC              0
VALUE                0
DATETIME             0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELL_ID              0
SITE_ID            716
dtype: int64

In [459]:
tel_2.isnull().sum()

PRODUCT           0
VALUE             0
DATE_TIME         0
CELL_ON_SITE      0
DW_A_NUMBER       0
DW_B_NUMBER       0
COUNTRY_A         0
COUNTRY_B         0
CELL_ID           0
SITE_ID         676
dtype: int64

In [460]:
tel_3.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELLID               0
SIET_ID            605
dtype: int64

In [461]:
geo.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [462]:
print(f'Number of duplicate rows in geo : {geo.duplicated().sum()}')
print(f'Number of duplicate rows in tel_1 : {tel_1.duplicated().sum()}')
print(f'Number of duplicate rows in tel_2 : {tel_2.duplicated().sum()}')
print(f'Number of duplicate rows in tel_3 : {tel_3.duplicated().sum()}')

Number of duplicate rows in geo : 0
Number of duplicate rows in tel_1 : 82
Number of duplicate rows in tel_2 : 78
Number of duplicate rows in tel_3 : 93

# Data Preperation

## Renaming columns

In [463]:
tel_1.columns

Index(['PRODUTC', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [464]:
tel_1.rename(columns = {'PRODUTC':'PRODUCT', 'DATETIME':'DATE_TIME'}, inplace=True)

In [465]:
tel_2.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER',
       'DW_B_NUMBER', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [466]:
tel_2.rename(columns = {'DW_A_NUMBER':'DW_A_NUMBER_INT', 'DW_B_NUMBER':'DW_B_NUMBER_INT' }, inplace=True)

In [467]:
tel_3.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELLID', 'SIET_ID'],
      dtype='object')

In [468]:
tel_3.rename(columns = {'CELLID':'CELL_ID', 'SIET_ID':'SITE_ID'}, inplace=True)

In [469]:
geo.columns

Index(['Unnamed: 0', 'VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE',
       'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID',
       'SITE_CODE'],
      dtype='object')

In [470]:
tel_1.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [471]:
tel_2.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [472]:
tel_3.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [473]:
tel_3.dtypes

PRODUCT            object
VALUE               int64
DATE_TIME          object
CELL_ON_SITE       object
DW_A_NUMBER_INT    object
DW_B_NUMBER_INT    object
COUNTRY_A          object
COUNTRY_B          object
CELL_ID            object
SITE_ID            object
dtype: object

## Remove the column 'Unnamed: 0'

In [474]:
geo.columns

Index(['Unnamed: 0', 'VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE',
       'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID',
       'SITE_CODE'],
      dtype='object')

In [475]:
try:
  geo.drop('Unnamed: 0', axis=1, inplace=True )
except:
  print('Done!')

## Remove column 'CELL_ON_SITE', 'COUNTRY_A' and 'COUNTRY_B'

In [476]:
try:
  tel_1.drop('CELL_ON_SITE', axis=1, inplace=True)
  tel_1.drop('COUNTRY_A', axis=1, inplace=True)
  tel_1.drop('COUNTRY_B', axis=1, inplace=True)

  tel_2.drop('CELL_ON_SITE', axis=1, inplace=True)
  tel_2.drop('COUNTRY_A', axis=1, inplace=True)
  tel_2.drop('COUNTRY_B', axis=1, inplace=True)

  tel_3.drop('CELL_ON_SITE', axis=1, inplace=True)
  tel_3.drop('COUNTRY_A', axis=1, inplace=True)
  tel_3.drop('COUNTRY_B', axis=1, inplace=True)
except:
  print('Done!')

## Removing Duplicate values

In [477]:
print(f'Number of duplicate rows in geo : {geo.duplicated().sum()}')
print(f'Number of duplicate rows in tel_1 : {tel_1.duplicated().sum()}')
print(f'Number of duplicate rows in tel_2 : {tel_2.duplicated().sum()}')
print(f'Number of duplicate rows in tel_3 : {tel_3.duplicated().sum()}')

Number of duplicate rows in geo : 43
Number of duplicate rows in tel_1 : 82
Number of duplicate rows in tel_2 : 78
Number of duplicate rows in tel_3 : 93

In [478]:
# displays the duplicated rows in "tel_1"

In [479]:
tel_1 = tel_1.drop_duplicates(keep='first')

In [480]:
tel_2 = tel_2.drop_duplicates(keep='first')

In [481]:
tel_3 = tel_3.drop_duplicates(keep='first')

In [482]:
geo = geo.drop_duplicates(keep='first')

In [483]:
geo['SITE_CODE'] = geo['SITE_CODE'].drop_duplicates(keep='first')

## Concatenate "tel_1", "tel_2" and "tel_3"

In [484]:
tel = pd.concat((tel_1, tel_2, tel_3), axis=0, ignore_index=True)
tel

      PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0       Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  ...  /+cKZKIp41  /+cKZKIp41
2         sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  ...  051KhYDCpv  051KhYDCpv
...       ...    ...  ...         ...         ...
14745   Voice     10  ...  6467daa1db  8a96bae9c1
14746   Voice      0  ...  2aa04dcab7  f7d63a29e5
14747   Voice     62  ...  7f1f2f889f  b4ddb9e93c
14748   Voice     30  ...  98ed726da2  b4130b54ab
14749   Voice     60  ...  1c11a2fcbb  6d70dae094

[14750 rows x 7 columns]

## Mergeing "tel" with geo

In [485]:
tel.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT',
       'CELL_ID', 'SITE_ID'],
      dtype='object')

In [486]:
geo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78         NaN
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c         NaN
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab         NaN
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1         NaN
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153         NaN
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645         NaN
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589         NaN

[3931 rows x 11 columns]

In [487]:

geo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78         NaN
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c         NaN
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab         NaN
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1         NaN
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153         NaN
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645         NaN
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589         NaN

[3931 rows x 11 columns]

In [491]:
tel_geo = pd.merge(tel, geo, how='inner', left_on='SITE_ID' , right_on='SITE_CODE')
tel_geo

        PRODUCT  VALUE  ...   CELL_ID_y   SITE_CODE
0           sms      0  ...  24ccdda3d5  1b5540c02d
1         Voice     92  ...  24ccdda3d5  1b5540c02d
2           sms     25  ...  24ccdda3d5  1b5540c02d
3         Voice     16  ...  24ccdda3d5  1b5540c02d
4         Voice     35  ...  24ccdda3d5  1b5540c02d
...         ...    ...  ...         ...         ...
5701056   Voice      0  ...  ddaa93f2e4  8cc89f3fa9
5701057     sms      0  ...  945c1dd777  d236ec6ca8
5701058   Voice     47  ...  8af3936d2c  aa59cc7ced
5701059   Voice     17  ...  c179f33d5e  cc45940406
5701060     sms      0  ...  0427a26d34  ab91f5b21d

[5701061 rows x 18 columns]

# Analysis

In [522]:
tel_geo['DATE_TIME'] = pd.to_datetime(tel_geo['DATE_TIME'])

In [526]:
tel_geo['DATE_TIME']
tel_geo.shape

(5701061, 20)

In [524]:
# most used city for the three days
tel_geo.VILLES.max()

'ZUENOULA'

In [525]:
tel_geo['DATE_TIME'] = pd.to_datetime((tel_geo['DATE_TIME']))
# tel_geo = pd.DataFrame(x, columns=['DATE_TIME'])
tel_geo.DATE_TIME = pd.to_datetime(tel_geo.DATE_TIME)
tel_geo

        PRODUCT  VALUE           DATE_TIME  ...   SITE_CODE        DATE      TIME
0           sms      0 2012-05-07 00:00:00  ...  1b5540c02d  2012-05-07  00:00:00
1         Voice     92 2012-05-07 00:00:06  ...  1b5540c02d  2012-05-07  00:00:06
2           sms     25 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
3         Voice     16 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
4         Voice     35 2012-05-07 00:00:41  ...  1b5540c02d  2012-05-07  00:00:41
...         ...    ...                 ...  ...         ...         ...       ...
5701056   Voice      0 2012-05-09 00:01:27  ...  8cc89f3fa9  2012-05-09  00:01:27
5701057     sms      0 2012-05-09 00:01:42  ...  d236ec6ca8  2012-05-09  00:01:42
5701058   Voice     47 2012-05-09 00:01:42  ...  aa59cc7ced  2012-05-09  00:01:42
5701059   Voice     17 2012-05-09 00:01:42  ...  cc45940406  2012-05-09  00:01:42
5701060     sms      0 2012-05-09 00:01:43  ...  ab91f5b21d  2012-05-09  00:01:43

[5701061 rows x 20 columns]

In [ ]:
tel_geo.columns

Index(['PRODUCT', 'VALUE', 'DATA_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT',
       'CELL_ID', 'SITE_ID', 'DATE_TIME', 'SITE_CODE'],
      dtype='object')

In [ ]:
tel_geo.head()

  PRODUCT  VALUE  ...           DATE_TIME   SITE_CODE
0     sms      0  ... 2012-05-07 00:00:00  1b5540c02d
1   Voice     92  ... 2012-05-07 00:00:06  1b5540c02d
2     sms     25  ... 2012-05-07 00:00:21  1b5540c02d
3   Voice     16  ... 2012-05-07 00:00:21  1b5540c02d
4   Voice     35  ... 2012-05-07 00:00:41  1b5540c02d

[5 rows x 9 columns]

In [509]:
tel_geo[(tel_geo['DATE_TIME'] > '08:00:00') & (tel_geo['DATE_TIME'] > '17:00:00')]

Empty DataFrame
Columns: [PRODUCT, VALUE, DATE_TIME, DW_A_NUMBER_INT, DW_B_NUMBER_INT, CELL_ID_x, SITE_ID, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID_y, SITE_CODE]
Index: []

In [511]:
tel_geo['DATE'] = tel_geo['DATE_TIME'].dt.date
tel_geo['TIME'] = tel_geo['DATE_TIME'].dt.time
tel_geo

        PRODUCT  VALUE           DATE_TIME  ...   SITE_CODE        DATE      TIME
0           sms      0 2012-05-07 00:00:00  ...  1b5540c02d  2012-05-07  00:00:00
1         Voice     92 2012-05-07 00:00:06  ...  1b5540c02d  2012-05-07  00:00:06
2           sms     25 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
3         Voice     16 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
4         Voice     35 2012-05-07 00:00:41  ...  1b5540c02d  2012-05-07  00:00:41
...         ...    ...                 ...  ...         ...         ...       ...
5701056   Voice      0 2012-05-09 00:01:27  ...  8cc89f3fa9  2012-05-09  00:01:27
5701057     sms      0 2012-05-09 00:01:42  ...  d236ec6ca8  2012-05-09  00:01:42
5701058   Voice     47 2012-05-09 00:01:42  ...  aa59cc7ced  2012-05-09  00:01:42
5701059   Voice     17 2012-05-09 00:01:42  ...  cc45940406  2012-05-09  00:01:42
5701060     sms      0 2012-05-09 00:01:43  ...  ab91f5b21d  2012-05-09  00:01:43

[5701061 rows x 20 columns]

In [535]:
# Buisness hour
tel_geo['TIME'] = tel_geo.TIME.astype(str)
a = tel_geo[tel_geo['TIME'] > '17:00:00.0']
b = tel_geo[tel_geo['TIME'] < '08:00:00.0']
tel_geo[(tel_geo['TIME'] > '08:00:00.0') & (tel_geo['TIME'] < '17:00:00.0')]

Empty DataFrame
Columns: [PRODUCT, VALUE, DATE_TIME, DW_A_NUMBER_INT, DW_B_NUMBER_INT, CELL_ID_x, SITE_ID, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID_y, SITE_CODE, DATE, TIME]
Index: []

In [537]:
# Home hours
tel_geo[(tel_geo['TIME'] < '08:00:00.0') & (tel_geo['TIME'] < '17:00:00.0')]

        PRODUCT  VALUE           DATE_TIME  ...   SITE_CODE        DATE      TIME
0           sms      0 2012-05-07 00:00:00  ...  1b5540c02d  2012-05-07  00:00:00
1         Voice     92 2012-05-07 00:00:06  ...  1b5540c02d  2012-05-07  00:00:06
2           sms     25 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
3         Voice     16 2012-05-07 00:00:21  ...  1b5540c02d  2012-05-07  00:00:21
4         Voice     35 2012-05-07 00:00:41  ...  1b5540c02d  2012-05-07  00:00:41
...         ...    ...                 ...  ...         ...         ...       ...
5701056   Voice      0 2012-05-09 00:01:27  ...  8cc89f3fa9  2012-05-09  00:01:27
5701057     sms      0 2012-05-09 00:01:42  ...  d236ec6ca8  2012-05-09  00:01:42
5701058   Voice     47 2012-05-09 00:01:42  ...  aa59cc7ced  2012-05-09  00:01:42
5701059   Voice     17 2012-05-09 00:01:42  ...  cc45940406  2012-05-09  00:01:42
5701060     sms      0 2012-05-09 00:01:43  ...  ab91f5b21d  2012-05-09  00:01:43

[5701061 rows x 20 columns]

In [546]:
# tel_geo.VILLES.duplicated()
tel_geo.groupby('VILLES').count()

               PRODUCT   VALUE  DATE_TIME  ...  SITE_CODE    DATE    TIME
VILLES                                     ...
ABENGOUROU       31413   31413      31413  ...         37   31413   31413
ABOBO           401163  401163     401163  ...       1119  401163  401163
ABOISSO          29430   29430      29430  ...         15   29430   29430
ABOISSO COMOE     3928    3928       3928  ...          6    3928    3928
ABONGOUA          3923    3923       3923  ...          1    3923    3923
...                ...     ...        ...  ...        ...     ...     ...
ZATTA             3923    3923       3923  ...          1    3923    3923
ZIKISSO           5892    5892       5892  ...          9    5892    5892
ZON-HOUNIEN       3925    3925       3925  ...          3    3925    3925
ZOUKOUGBEU        3926    3926       3926  ...          4    3926    3926
ZUENOULA         11808   11808      11808  ...         42   11808   11808

[503 rows x 19 columns]

In [ ]:
tel_geo['VILLES'] = tel_geo.groupby('')['Name'].transform('count')